/*
Colors used:
Primary Colors (white): #FFFFFF; (blue): #46A3F6; (purple): #606CFF;
Secondary Colors (black): #313639; (gray): #DDDDDD;
*/
/* For width */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir', sans-serif;
}

@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Light.eot');
    src: local('Avenir Light'), local('Avenir-Light'),
        url('Avenir-Light.eot?#iefix') format('embedded-opentype'),
        url('Avenir-Light.woff2') format('woff2'),
        url('Avenir-Light.woff') format('woff'),
        url('Avenir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Heavy.eot');
    src: local('Avenir Heavy'), local('Avenir-Heavy'),
        url('Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Avenir-Heavy.woff2') format('woff2'),
        url('Avenir-Heavy.woff') format('woff'),
        url('Avenir-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Book';
    src: url('Avenir-Book.eot');
    src: local('Avenir Book'), local('Avenir-Book'),
        url('Avenir-Book.eot?#iefix') format('embedded-opentype'),
        url('Avenir-Book.woff2') format('woff2'),
        url('Avenir-Book.woff') format('woff'),
        url('Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Black.eot');
    src: local('Avenir Black'), local('Avenir-Black'),
        url('Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('Avenir-Black.woff2') format('woff2'),
        url('Avenir-Black.woff') format('woff'),
        url('Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Medium.eot');
    src: local('Avenir Medium'), local('Avenir-Medium'),
        url('Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('Avenir-Medium.woff2') format('woff2'),
        url('Avenir-Medium.woff') format('woff'),
        url('Avenir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

h1, h2, h3, h4 {
  line-height: 80px;
  color: #2B2B2B;
}

h1 {
  font-size: 6.75em;
  font-weight: 900;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #2B2B2B;
}

h2 {
  font-size: 5.75em;
  font-weight: 300;
  margin-top: auto;
  margin-bottom: auto;
  color: #2B2B2B;
}

h3 {
  font-size: 2.50em;
  font-weight: 500;
  margin-top: auto;
}

h4 {
  font-size: 2.25em;
  font-weight: 300;
}

h5 {
  font-size: 2.75em;
  font-weight: 500;
  color: #FFFFFF;
}

img {
  width: 100%;
}

/*Buttons & links*/
a {
  color: #606CFF;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #ADAAAA;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  color: #606CFF;
}

a:active {
  color: #606CFF;
}

a:hover {
  font-size: 1.04em;
  transition-duration: 0.4s;
  text-decoration: none;
}

a:focus {
  color: #ADAAAA;
  text-decoration: none;
}

.button {
  transition-duration: 0.3s;
  transition-property: opacity;
  display: inline;
}

.button:hover {
  opacity: 0.7;
  color: #FFFFFF;
  text-decoration: none;
}

#contact .button {
  opacity: 0.7;
  color: #ADAAAA;
  text-decoration: none;
}

.button.contact:hover {

}

.button:active {
  background-color: transparent;
  color: #FFFFFF;
}

.logo {
  max-width: 150px;
  max-height: 150px;
  top: 23px;
  left: 240px;
  width: 68px;
  height: 102px;
}

/* Layout styling */
.container {
  padding: 10px 120px;
}

#hero .center {
  padding: 100px 0px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .container {
  padding: 20px 0px;
}

#work .row {
  padding-bottom: 35px;
  border-bottom: none;
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#work h3 {
  padding: 100px 45px 0px 45px;
  margin-bottom: 0px;
  font-size: 2.25em;
}

#work h4 {
  margin-bottom: 0px;
  font-size: 2.25em;
}

#work div>ul>li {
  display: inline-block;
  width: 133px;
  padding-right: 0px;
  padding-left: 0px;
}


.center {
  text-align: center;
}

.left {
  text-align: left;
}

header {
  position: relative;
  background-color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
}

main {
  padding-top: 0px;
}

#hero {
  background-color: #FFFFFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero .row {
  margin-left: 100px;
}

#services .row {
  padding: 100px 50px;
  margin-bottom: 0px;
}

div>ul {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

div>ul>li {
  display: inline-block;
  padding-right: 50px;
  padding-left: 50px;
}

#services ul {
  margin-left: auto;
  padding-top: 105px;
  padding-bottom: 100px;
}

#services p {
    color: #2B2B2B;
}

#services .container {
  padding-bottom: 100px;
}

#services h3 {
  padding: 100px 45px 0px 45px;
  margin-bottom: 0px;
  font-size: 2.25em;
}

p {
 color: #95989A;
 font-weight: 300;
 line-height: 32px;
 font-size: 1.05em;
}

/* Navigation */
nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

ul {
  list-style-type: none;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 53px;
  font-weight: 700;
  font-size: 1.25em;
  color: #2B2B2B;
}

nav>ul>li>a:visited {
  opacity: none;
  color: #2B2B2B;
  text-decoration: none;
}

nav>ul>li>a:hover {
  opacity: 0.1;
  color: #2B2B2B;
  text-decoration: none;
  font-size: 1.25em;
}

nav>ul>li>a:active {
  opacity: none;
  color: #ADAAAA;
  text-decoration: none;
}

picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

footer {
background: radial-gradient(#46A3F6, #606CFF)
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 22px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  #hero span {
    display: inline-block;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 10px;
  }

  main {
    padding-top: px;
  }

  .col-md-6 {
    /* col = column, md = medium-sized, 6 = 6 column-grid */
    width: 59%;
    padding-top: 90px;
    padding-left: 130px;
  }

  .col-md-5 {
    width: 41%;
    padding-top: 90px;
    padding-right: 20px;
  }


  .a {
    padding-left: 10px;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-7 {
    width: 41.66%;
  }

  .row {
    max-width: 1600px;
    margin-left: 120px;
    margin-right: 20px;
    margin-bottom: 140px;
  }


  .logo {
    max-width: 80px;
    max-height: 80px;
  }
}

@media only screen and (min-width: 1440px) {}

@media only screen and (min-width: 1920px) {}

/* Animation */

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*short way*/
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}
