/*
Colors used:
Primary Colors (white): #FFFFFF; (blue): #46A3F6; (purple): #606CFF;
Secondary Colors (black): #313639; (gray): #DDDDDD;
*/

/* For width */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

<link rel="preconnect"href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap"rel="stylesheet">body {
  background-color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 44px;
  color: #313639;
}

h1, h2, h3, h4 {
  line-height: 44px;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

img {
  width: 100%;
}

/*Buttons & links*/
a {
  color: #606CFF;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #46A3F6;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  color: #606CFF;
}

a:active {
  color: #DDDDDD;
}

a:hover,
a:focus {
  color: #46A3F6;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #46A3F6;
  color: #313639;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border: 3px solid #606CFF;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.6;
  color: #FFFFFF;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #46A3F6;
  border: 3px solid #606CFF;
}

.button.contact:hover {
  opacity: none;
  background-color: #46A3F6;
  color: #FFFFFF;
  border: 3px solid #606CFF;
}

.button:active {
  background-color: #46A3F6;
  color: #FFFFFF;
}

.logo {
  max-width: 250px;
}

/* Layout styling */
.container {
  padding: 25px 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #DDDDDD; }

.center {
  text-align: center;
}

header {
  position: relative;
  background-color: #46A3F6;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 3px 10px 0px rgba(49, 50, 50, 0.35);
}

main {
  padding-top: 30px;
}

#hero {
  background-color: #FFFFFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* Navigation */
nav {
  display: inline-block;
  width: 100%;
}


nav > ul {
  list-style-type: none;
  padding: 0;
}

ul {
  list-style-type: none;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

nav > ul > li > a:visited {
  opacity: none;
  color: #606CFF;
  text-decoration: none;
}

nav > ul > li > a:hover {
  opacity: 0.4;
  color: #46A3F6;
  text-decoration: none;
}

nav > ul > li > a:active {
  opacity: 0.4;
  color: #46A3F6;
  text-decoration: none;
}
